{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread",
        ["transform-runtime", {
            "regenerator": true
          }],
          ["import", { "libraryName": "antd"}]
      ]
}