.profile-content{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 24px;
}
.profile-content-main{
    padding:24px
}
.profile-infor-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.profile-infor-user-title-left{
    width: 100px;
    color: #008784;
    display: inline-block;
    margin-left: 6px;
}
.profileone-name{
    margin-top: 12px;
}
.profile-job{
    margin-top: -3px;
}
.profile-information-priority{
    margin-top: -20px;
}
.profile-information-priority{
    margin-bottom: 31px;
}
.profileone-organization h4{
    font-weight: 600;
}
.ant-tabs-tab{
    -moz-transition: all .2s ease-in !important;
    -o-transition: all .2s ease-in !important;
    -webkit-transition: all .2s ease-in !important;
    transition: all .2s ease-in !important;
}
.ant-tabs-tab:hover {
    background: linear-gradient(to right,#2980B9 0,#6DD5FA 76%,#0083B0 100%) !important;
    color: #fff !important;
    border-radius: 4px;
}
.ant-tabs-tab:hover .ant-tabs-tab-btn{
    color: #fff !important;
}
.profile-infor-user-title-right{
    color: #111;
    font-weight: 600;
    /* opacity: .8; */
    width: 270px;
   height: 30px;
   display:inline-block;
}
.profile-infor-user-content{
    font-weight: 600;
    color: #666;
}