.GlobalLoading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.03);
    padding-left: 14.375rem;
}
.icon{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    top: 46%;
}
.icon2{
    display: block;
    line-height: 100vh;
    width: 100%;
}
