.logo {
    background-color: #2C94FF;
    width: 100%;
    height:100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 143px;
    height: 52px;
    margin: 11px 70px 14px 67px;
    object-fit: cover;
}
.menulayout-main {
    background-color: #3C9CFF;
}
.ant-menu-item a{
    color: #fff;
}
.ant-menu-item span{
    color: #fff;
}
.ant-menu-submenu-title{
    background-color: #208EFF;
    color:#fff;
}
.ant-menu-inline{
    background-color:#3C9CFF !important;
}
ant-menu-submenu-active, ant-menu-submenu-selected{
    color: #fff;
}
.bbbb{
    background-color: #3C9CFF;
}
.ant-menu-item-only-child:hover, .ant-menu-submenu-title:hover{
    color:#555;
}
.ant-menu-item-selected{
    color:#111
}
.ant-menu-submenu-title:hover{
    background:#fff
}
.ant-menu-item:hover{
    background:#fff;
    color:#333;
}
.ant-menu-item-selected span{
    color: #111;
}
.ant-menu-item-selected a{
    color: #111;
}
.ant-menu-submenu-arrow:before{
    background:#fff !important;
}
.ant-menu-submenu-arrow:after{
    background:#fff !important;
}

.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before{
    background:#000 !important;
}
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after{
    background:#000 !important;
}
.dropdown-menu{
 position: initial !important;
 z-index: 0 i !important;
}
