.logo {
    background-color: #2C94FF;
    width: 100%;
    height:100%;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 143px;
    height: 52px;
    margin: 11px 70px 14px 67px;
    object-fit: cover;
}
.menulayout-main {
    background-color: #3C9CFF;
}

.ant-layout-sider-dark {
    width: 14.375rem !important;
    min-width: 14.375rem !important;
}

.ant-menu-item a{
    color: #fff;
    text-decoration: none;
}
.ant-menu-item span{
    color: #fff;
}
.ant-menu-submenu-title{
    background-color: #208EFF;
    color:#fff;
    width: calc(100%) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 50px !important;
    line-height: 50px !important;
}
.ant-menu-submenu-title svg {
    margin-right: 10px !important;
}
.ant-menu-submenu-title span {
    margin-right: 0px !important;
}
.ant-menu-inline{
    background-color:#3C9CFF !important;
}

.bbbb{
    background-color: #3C9CFF;
    height: 100vh;
    position: fixed;
    overflow: scroll;
}
.ant-menu-item-only-child:hover, .ant-menu-submenu-title:hover{
    color:#555;
}
.ant-menu-item-selected{
    color:#111
}
.ant-menu-submenu-title:hover{
    background:#fff
}
.ant-menu-item:hover{
    background:#fff;
    color:#333;
}
.ant-menu-item-selected span{
    color: #111;
}
.ant-menu-item-selected a{
    color: #111;
}
.ant-menu-submenu-arrow:before{
    background:#fff !important;
}
.ant-menu-submenu-arrow:after{
    background:#fff !important;
}

.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before{
    background:#000 !important;
}
.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after{
    background:#000 !important;
    text-decoration: none !important;
}
.dropdown-menu{
    position: initial !important;
    z-index: 0 i !important;
}
.spacing {
    height: 40px;
}
.ant-menu-inline {
    border: none;
    width: calc(100%) !important;
}
