.tree-transfer .ant-transfer-list:first-child {
    flex: none;
    width: 50%;
}
.service-management .card-header{
    color:red;
}

.service-management .card-header{
    background-color: yellow;
}

.service-management .dropdown-toggle-text{
    color:red;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    margin-right: 4px;
    cursor:pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.hidden-transfer{
    display: none;
}

.dropdown-transfer{
    list-style-type: none;
    margin-top: -13px;
}
