
.content-top{
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
}
.content-top-left{
    display: flex;
    justify-content: left;
    align-items:center;
}
.content-top-left-sum-item{
    font-weight: 600;
    font-size:14px;
    color:#80808f;
}
.table-btn-search{
    margin: 0;
}
.content-top-left-sum-item{
    margin-right:20px;
}
.btn-add-user{
    background:#E1F0FF;
    color:#3699FF
}
.ant-select-show-search{
    width: 300px;
}
.content-notification{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom:45px;
}
.content-notification div{
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
}
.btn-notification{
    border-radius:6px;
    width: 56px;
    height: 34px;
    background:#3699FF;
    /* position: absolute;
    right: 110px; */
}
.content-notification-table{
    width: 100%;
}
.content-notification-table td, .content-notification-table th {
    padding: 10px;
}
.content-notification-table tr:first-child{
    background: #F3F6F9;
    border-radius: 6px;
}
/* .content-notification-table tr:not(:first-child) td:first-child {
    background-color: #900;
} */
.content-notification-table-btn{
   
    background: #D7EAFF;
    border-radius: 10px;
    min-width: 75px;
    max-width: 130px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
}
.content-bottom{
    margin-top: 50px;
}
.ant-breadcrumb-link{
    opacity: 0;
}
.ant-breadcrumb-separator{
    opacity: 0;
}
.create-notifi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-notifi > div{
    margin: 10px;
    padding: 20px;
}
.content-top-create-notif{
    padding-top:0;
    padding-bottom: 24px;
    border-bottom: solid #EBEDF3 1px;
}
.content-notification-table-create{
    margin-top: 28px;
}
.content-notification-create-notif{
    padding-bottom: 0px;
}
.create-notifi-content{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-notifi-content > ul{
    list-style-type: none;
}
.create-notifi-content > ul li{
    margin-bottom: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.create-notifi-content > ul li img{
    padding-right:12px;
}
.create-notifi-content > ul li span{
    font-size: 24px;
    line-height: 21px;
}