@import "~antd/dist/antd.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji !important;
}
.logo {
  height: 59px;
  margin: 16px;
}
.logo-img {
  height: 73px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
.ant-picker-clear {
  display: none;
}
.anticon-swap-right{
 display: none;
}
svg {
  vertical-align: initial !important;
}
.form-builder .row {
  display: flex;
  justify-content: center;
} 
.row .col-md-4 .border-primary {
 margin-left: 0 !important;
}

element.style {
  margin-left: 150px;
  margin-top: 50px;
  width: 24rem;
}
.row .col-md-4 .border-primary {
  margin-left: 0 !important;
}
.form-builder .card {
  /* overflow: auto; */
}
.card {
  height: auto !important;
}
.ant-pagination{
  padding-top:25px;
  padding:17px;
}
.ant-tag-volcano{
  color: #181c32;
  background: #f3f6f9;
  border-color: #777;
}
