.content-background1{
    background-color: #E5E5E5;
    height:100%

}
.content-background2{
    width: 100%;
    background-color: #fff;
    border-radius:12px;
}
.content-background2-left{
    width: 70%;
    background-color: #fff;
}
.content-background2-right{
    width: 30%;
    background-color: #fff;
}
.content-main{
    width: 95%;
    min-height: 73vh;
    margin: 0 auto;
}