.site-layout-background{
    display: flex;;
    justify-content: space-between;
    align-items: center;
    
}
.site-layout-background{
    /* background: #855979; */
    /* background: linear-gradient(to right,#ad5389 0,#ad5389 36%,#28343b 100%); */
   background-color: #3699ff; 

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI',;
}