.table-btn-add{
    margin: 20px;
    margin-bottom: 0px;
}
.table-btn-search{
    margin: 20px;
    margin-bottom: 0px;
}
.table-btn-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-action{
    cursor: pointer;
}
.ant-layout{
    background: #fff;
    z-index: 2;
}
.table-content{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.layout-content{
    /* margin-top: -51px; */
}
.layout-footer{
    /* margin-top: 10px; */
    background: #fff;
    z-index: -1;
}
/* .ant-table-row-level-0:hover{
    background-color: crimson;
} */
.ant-avatar-square{
    width: 102px !important;
    height:69px !important;
    border-radius: 5px;
    padding-right: 39px;
}
.user-infor-table-top{
    margin-top: 14px;
    margin-bottom: 10.6px;
    font-weight: 600;
    font-size: 18px;
    color:#000;
}
.user-infor-table-center{
    margin-bottom:4.6px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color:#80808F
}
.user-infor-table-bottom{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color:#B5B5C3;
}
.ant-table-pagination.ant-pagination {
    margin: 11px 34px;
}
